 

 <div class="container">
      <div id= "wrapper">

            <h1>NHL Top Articles Scrap'in the Ice!!!</h1>
            <button id='scrape' href="./article">Scrape</button>
          </div>
          
            <img src="./img/blade.jpg" alt="cartoon goal scoring celebration">
            <!-- height="42" width="42" -->
          </div>
          
   
        <div id="articles"></div>
        <div id="notes"></div>
          
      </div>
    </div>